@import "./mixin/mixin";
@import "./variable/variable";

#apply {
    border: none;
    background-color: $green;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
}

.navbar-nav {
    gap: 40px;
}

nav {
    z-index: 10;
    // background-color: $nav-color;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-weight: 700;
}

// ------------------Banner------------------
#banner {
    // height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(rgba(16, 201, 143, 0.4), rgba(16, 201, 143, 0.4)), url(../img/h1_hero1.jpg.webp);
    @include image;
    padding-block: 200px;
    position: relative;
    z-index: 1;


    .left {
        h1 {
            font-size: 60px;
            width: 70%;
            color: white;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 110px;
                bottom: -10px;
                height: 3px;
                left: 0;
                background: #fff;
            }
        }

        p {
            font-size: 40px;
            color: white;
            padding: 30px 0px;
        }
    }

    .right {
        background-color: white;
        padding: 30px 0px;

        .tittle {
            margin-bottom: 12px;
            padding-bottom: 13px;
            position: relative;
            @include display;
            flex-direction: column;

            &::after {
                content: "";
                position: absolute;
                width: 110px;
                bottom: 0px;
                height: 3px;
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
                background: #10C98F;
            }
        }

        form {
            @include display;
            margin-top: 0em;
            
            .row {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 20px;
                .select-option{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

.btnAll {
    padding: 20px 30px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 700;

    &:hover {
        background-color: $green;
        transition: all 0.5s ease;
        border: 2px solid $green;
    }
}